html,
body,
#root {
  height: 100%;
  margin: 0;
  padding: 0;
}

.transaction {
  height: 100%;
}

.grey-area {
  background-color: #837e7e; /* Replace with your desired grey color */
  padding: 5px; /* Add padding to create space between the container and the grey area */
  height: 100%;
}

.container {
  height: 100%;
  max-width: 600px; /* Adjust the maximum width as needed */
  margin: 0 auto; /* Center the container horizontally */
  padding: 10px; /* Add some spacing around the container */
  background-color: white;
}

table {
  width: 100%;
}

.table-header-cell {
  border-top: 1px solid #000; /* Add your desired line style here */
  border-bottom: 1px solid #000; /* Add your desired line style here */
  padding: 5px; /* Adjust as needed */
  text-align: left;
  width: 10%;
}

.table-data {
  border-bottom: 1px solid #7b7979; /* Add your desired line style here */
  padding: 15px; /* Adjust as needed */
  text-align: left; /* Adjust as needed */
  font-weight: normal; /* Adjust as needed */
  color: #7b7979; /* Set the text color to grey */
}
